    <div class="col-sm-4"> 
		<%= @user.avatar %>
		<%= @user.name %>
    </div>
    <div class="col-sm-8"> 
		<%= @user.description %>
    </div>
    <br>
    <br>

<!-- Tab links -->
<div class="tab">
  <button class="tablinks" onclick="openList(event, 'My Post')" id="defaultOpen">My Post</button>
  <button class="tablinks" onclick="openList(event, 'My Comment')">My Comment</button>
</div>

<!-- Tab content -->
<div id="My Post" class="tabcontent">
	<table>
	<% @posts.each do |post| %>
			<tr>
				<td><%=post.title %></td>
				<td><%=post.updated_at %></td>
			</tr>
	<%end%>
	</table>
</div>

<div id="My Comment" class="tabcontent">
	<table>
	<% @replies.each do |reply| %>
		<tr>
			<td>
				<h5 style="font-weight:bold"><%= Post.find(reply.post_id).title %></h5>
				<br>
				<%= reply.content %>
			</td>
		</tr>
	<% end %>
	</table>
</div>

<script>
// Get the element with id="defaultOpen" and click on it
	document.getElementById("defaultOpen").click();
</script>