<h1>Post index</h1>

<%= link_to('Login',new_user_session_path, class: "actions btn btn-primary", method: :get) %>
<%= link_to('Logout',destroy_user_session_path, class: "actions btn btn-primary", method: :delete) %>


<% @posts.each do |post| %>
	<dl>
		<dt style="font-weight:bold"><%= post.title %></dt>
		<dd><%= post.content %></dd>
	</dl>
	<% if current_user != nil && current_user.role=='admin' %>
		<%= link_to('Delete',post_path(post), class: "actions btn btn-primary", method: :delete) %>
	<%end%>

<% end %>