<h1>Dojo Forum</h1>
 
<% current_catagory=params[:catagory] %>
<br>
<%= link_to('All' ,posts_path, class: "actions btn btn-primary", method: :get) %>
<% @catagories.each do |catagory| %>
	<%= link_to(catagory.name ,posts_path(:catagory=>catagory.id), class: "actions btn btn-primary", method: :get) %>
<%end%>

<br>
<br>

<table>
	<tr>
		<th><%= link_to 'Replies count',posts_path(:sort=>'replies', :catagory=>current_catagory)%></th>
		<th>Title</th>
		<th><%=link_to 'Last replied at', posts_path(:sort=>'update', :catagory=>current_catagory)%></th>
		<th><%=link_to 'Viewed count', posts_path(:sort=>'view', :catagory=>current_catagory)%></th>
		<% if current_user != nil && current_user.role=='admin' %>
			<th>Delete</td>
		<%end%>
	</tr>
<% @posts.each do |post| %>
	<tr>
		<td><%= post.replies_count %></td>
		<td style="font-weight:bold"><%=link_to post.title, post_path(post) %></td>
		<td><%= post.reply_update_at %></td>
		<td><%= post.viewed_count %></td>
		<% if current_user != nil && current_user.role=='admin' %>
			<td><%= link_to('Delete',post_path(post), class: "actions btn btn-primary", method: :delete) %></td>
		<%end%>

	</tr>
<% end %>
</table>


<%= paginate @posts %>