<h1>Post index</h1>


<br>
<h2>Sort posts</h2>
<br> 
<% current_catagory=params[:catagory] %>
<%= link_to('Default ',posts_path, class: "actions btn btn-primary", method: :get) %>
<%= link_to('Sort by last update',posts_path(:sort=>'update', :catagory=>current_catagory), class: "actions btn btn-primary", method: :get) %>
<%= link_to('Sort by maximum replies ',posts_path(:sort=>'replies', :catagory=>current_catagory), class: "actions btn btn-primary", method: :get) %>
<%= link_to('Sort by view counts ',posts_path(:sort=>'view', :catagory=>current_catagory), class: "actions btn btn-primary", method: :get) %>

<br>
<br>
<h2>Catagories</h2>
<br>
<% @catagories.each do |catagory| %>
	<%= link_to(catagory.name ,posts_path(:catagory=>catagory.id), class: "actions btn btn-primary", method: :get) %>
<%end%>

<br>
<br>

<table>
	<tr>
		<th>Replies count</th>
		<th> Title</th>
		<th> Last replied at</th>
		<th> Viewed count</th>
		<th> View</th>
		<th> Delete</th>
	</tr>
<% @posts.each do |post| %>
	<tr>
		<td><%= post.replies_count %></td>
		<td style="font-weight:bold"><%= post.title %></td>
		<td><%= post.reply_update_at %></td>
		<td><%= post.viewed_count %></td>
		<td><%= link_to('View',post_path(post), class: "actions btn btn-primary", method: :get) %></td>
		<% if current_user != nil && current_user.role=='admin' %>
			<td><%= link_to('Delete',post_path(post), class: "actions btn btn-primary", method: :delete) %></td>
		<% else%>
			<td>Not allowed</td>
		<%end%>

	</tr>
<% end %>
</table>


<%= paginate @posts %>