<h1><%=@post.title%></h1>

<table>
	<tr>
	<th><%= @user.name %></th>
	<th>
		<%= @post.content %>
		<br>
		<% if current_user == @user %>
			<%= link_to('Delete',post_path(@post), class: "actions btn btn-primary", method: :delete) %>
			<%= link_to('Edit',edit_post_path(@post), class: "actions btn btn-primary", method: :get) %>
		<%end%>
	</th>
    </tr>
	<% @replies.each do |reply| %>
		<tr>
			<td><%= reply.user.name %></td>
			<td>
				<%= reply.content %>
				<br>
				<% if current_user == reply.user %>
					<%= link_to('Delete',post_reply_path(@post,reply), class: "actions btn btn-primary", method: :delete) %>
				<%= link_to('Edit',edit_post_reply_path(@post, reply), class: "actions btn btn-primary", method: :get) %>
				<%end%>					
			</td>
		</tr>
	<% end %>
</table>

<%= render "shared/form_reply" %>

<%= paginate @replies %>
