<h1>Post show page</h1>

<ul>
	<li><%='User: '%><%= @user.name %></li>
	<li><%= 'Ttitle: '%><%= @post.title %></li>
	<li><%= 'Content: '%><%= @post.content %></li>
</ul>

<% if current_user == @user %>
	<%= link_to('Delete',post_path(@post), class: "actions btn btn-primary", method: :delete) %>
	<%= link_to('Edit',edit_post_path(@post), class: "actions btn btn-primary", method: :get) %>
<%end%>

<br>
<h2>Replies</h2>
<br>
<% @replies.each do |reply| %>
	<ul>
		<li><%='User: '%><%= reply.user.name %></li>
		<li><%= 'Reply: '%><%= reply.content %></li>
	</ul>	
<% end %>

<%= form_for [@post, @reply] do |f| %>
	<div class="form-group">
		<%= f.label :content, "Add comment: " %>
		<%= f.text_field :content, class: "form-control" %>
	</div>

	<%= f.submit class: "actions btn btn-primary" %>
<%end%>

<%= paginate @replies %>
